name: Hexo Deploy

on:
  push:
    branches:
      - main  # 监听 main 分支的变动

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Hexo
      run: |
        npm install hexo-cli -g
        npm install

    - name: Build
      run: hexo generate

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
        publish_branch: gh-pages  # 生成的网页放入 gh-pages 分支